src/Trex.RegistrationWebsite/RegistrationWebsite/Service References/RegistrationService/CustomerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:60248/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Trex.Server.DataAccess" />
  <xs:import schemaLocation="http://127.0.0.1:60248/CustomerService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Trex.ServiceContracts" />
  <xs:element name="ExistsApplicationName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistsApplicationNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExistsApplicationNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByCustomerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByCustomerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Trex.Server.DataAccess" minOccurs="0" name="GetCustomerByCustomerIdResult" nillable="true" type="q1:TrexCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Trex.Server.DataAccess" minOccurs="0" name="customer" nillable="true" type="q2:TrexCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Trex.Server.DataAccess" minOccurs="0" name="SaveCustomerResult" nillable="true" type="q3:TrexCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creatorContactName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Trex.ServiceContracts" minOccurs="0" name="RegisterNewUserResult" nillable="true" type="q4:UserCreationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>