src/Trex.RegistrationWebsite/RegistrationWebsite/Service References/RegistrationService/CustomerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Trex.Server.DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Trex.Server.DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:60248/CustomerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="TrexCustomer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActivationId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address5" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ConnectionString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CreatorEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatorFullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatorPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatorUserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Inactive" type="xs:boolean" />
          <xs:element minOccurs="0" name="InactiveDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsActivated" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsActivationEmailSent" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsLockedOut" type="xs:boolean" />
          <xs:element minOccurs="0" name="LockedOutDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="VatNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Zipcode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrexCustomer" nillable="true" type="tns:TrexCustomer" />
</xs:schema>