src/Trex.Administration/Trex.ServiceModel/Service References/FileDownloadService/FileDownloadService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Trex.ServiceContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Trex.ServiceContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerResponse" nillable="true" type="tns:ServerResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerResponse" nillable="true" type="tns:ArrayOfServerResponse" />
  <xs:complexType name="ServerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="InvoiceId" type="xs:int" />
      <xs:element minOccurs="0" name="Response" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="ToPrint" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerResponse" nillable="true" type="tns:ServerResponse" />
</xs:schema>